<p>
    <mat-toolbar>
        <span>
            <mat-icon>list</mat-icon>Listagem de Alvarás
        </span>
    </mat-toolbar>
</p>

<div *ngIf="mostraProgresso">
    Aguarde Processando arquivos...
    <mat-progress-bar mode="indeterminate" class="progress">
    </mat-progress-bar>
</div>

<form form #form="ngForm" (submit)="consultarAlvaraPorNome()">
    <div class="row">
        <b> <label for="inputNome">Nome Empresa: </label></b>
        <div class="col-md-6">
            <input type="text" [(ngModel)]="nome" name="nome" class="form-control" id="inputNome">
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>Consultar
            </button>
        </div>
    </div>
</form>

<br />

<div class="card-header">
    Lista de Documentos - TamanhoLista: {{ qtdeRegistros }}
</div>

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-condensed table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Nome Arq</th>
                    <th>Nº Alvará</th>
                    <th>Empresa</th>
                    <th>CNPJ</th>
                    <th>Emissão</th>
                    <th>Vencimento</th>
                    <th>Expira:</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alvara of listaAlvaras">
                    <td>{{ alvara.id }}</td>
                    <td>{{ alvara.tipo_doc }}</td>
                    <td>{{ alvara.nome_arquivo }}</td>
                    <td>{{ alvara.numero_alvara }}</td>
                    <td>{{ alvara.nome_empresa }}</td>
                    <td>{{ alvara.cnpj_empresa }}</td>
                    <td>{{ alvara.data_emissao | date:'dd/MM/yyyy' }}</td>
                    <td>{{ alvara.data_vencimento | date:'dd/MM/yyyy' }}</td>
                    <td>{{ alvara.expira}}</td>
                    <td>
                        <mat-icon class="cursorMao" (click)="baixar(alvara)" >get_app</mat-icon>
                    </td>
                    <td>
                        <a routerLink="/alvara/form/{{ alvara.id }}">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <mat-paginator [length]="totalElementos" [pageSize]="tamanho" [pageSizeOptions]="pageSizeOptions"
            (page)="paginar($event)">
        </mat-paginator>

    </div>
</div>