<mat-card stile="text-align: center;">

    <mat-card-header>
        <mat-card-title>
            <mat-icon>face</mat-icon>
            Usuário
            <br />
        </mat-card-title>
    </mat-card-header>

    <img mat-card-image class="foto" />

    <mat-card-content>
        <p>
            ID:
            <strong>1</strong><br />
            username:
            <strong>1</strong><br />
            password:
            <strong>1</strong><br />
            role:
            <strong>1</strong><br />
            ativo:
            <strong>1</strong><br />
            nome:
            <strong>1</strong><br />
            cpf:
            <strong>1</strong><br />
            email:
            <strong>1</strong><br />
            celular:
            <strong>1</strong><br />
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary">
            Fechar Info
        </button>
    </mat-card-actions>
</mat-card>