<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Docs - WEB</a>

    <!--
 <button class="btn btn-link btn-sm order-1 order-lg-0 branco" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" id="sidebarToggle2">
        <mat-icon>menu</mat-icon>
    </button>


    <!-- 
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" id="sidebarToggle2">
        <mat-icon>menu</mat-icon>
    </button>

     -->

</nav>