<p>
    <mat-toolbar>
        <span>
            <mat-icon>list</mat-icon>Listagem de Alvarás
        </span>
    </mat-toolbar>
</p>


<div *ngIf="mostraProgresso">
    Aguarde Processando arquivos...
    <mat-progress-bar mode="indeterminate" class="progress">
    </mat-progress-bar>
</div>


<mat-form-field> <mat-label>Filto Geral:</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Nome empresa" #input>
</mat-form-field>

<div class="card-header">
    Lista de Documentos
</div>


<div class="mat-elevation-z8 col-md-12 table-responsive">
    <mat-paginator [length]="totalElementos" [pageSize]="tamanho" [pageSizeOptions]="[10,50,100,500]"
        aria-label="Select page" (page)="paginar($event)">
    </mat-paginator>
    <table mat-table [dataSource]="dataSource"
        class="col-md-12 table-responsive mat-elevation-z8 table table-condensed table-hover table-striped">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id. </th>
            <td mat-cell *matCellDef="let alvara"> {{alvara.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipo_doc">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let alvara"> {{alvara.tipo_doc}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="nome_arquivo">
            <th mat-header-cell *matHeaderCellDef> Nome Arq </th>
            <td mat-cell *matCellDef="let alvara"> {{alvara.nome_arquivo}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="numero_alvara">
            <th mat-header-cell *matHeaderCellDef> Nº Alvará</th>
            <td mat-cell *matCellDef="let alvara"> {{alvara.numero_alvara}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="nome_empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let alvara"> {{alvara.nome_empresa}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="cnpj_empresa">
            <th mat-header-cell *matHeaderCellDef> CNPJ </th>
            <td mat-cell *matCellDef="let alvara"> {{alvara.cnpj_empresa}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="data_emissao">
            <th mat-header-cell *matHeaderCellDef> Emissão </th>
            <td mat-cell *matCellDef="let alvara"> {{ alvara.data_emissao | date:'dd/MM/yyyy' }}</td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="data_vencimento">
            <th mat-header-cell *matHeaderCellDef> Vencimento </th>
            <td mat-cell *matCellDef="let alvara"> {{ alvara.data_vencimento | date:'dd/MM/yyyy' }} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="expira">
            <th mat-header-cell *matHeaderCellDef> Expira </th>
            <td mat-cell *matCellDef="let alvara"> {{alvara.expira}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="pdf">
            <th mat-header-cell *matHeaderCellDef> pdf </th>
            <td mat-cell *matCellDef="let alvara">
                <mat-icon class="cursorMao" (click)="baixar(alvara)">get_app</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> edit </th>
            <td mat-cell *matCellDef="let alvara">
                <a routerLink="/alvara/form/{{ alvara.id }}">
                    <mat-icon>edit</mat-icon>
                </a>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sem registros na tabela!</td>
        </tr>

    </table>

</div>