<h1 class="mt-4">Editar Alvará</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Edição</li>
</ol>
<div class="container">
    <form>


        <div id="row">
            <div id="col-md-12">
                <div class="alert alert-danger" role="alert">
                    err
                </div>
            </div>
        </div>


        <div id="row">

            <div id="col-md-6">
                <div id="form-group">
                    <b><label>ID:</label></b>
                    <input type="text" class="form-control" disabled="true" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <b><label>Tipo Documento: </label></b>
                        <select class="form-control" class="cursorMao">
                            <option>
                                tipo
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="col-md-6">
                <div id="form-group">
                    <b> <label>Nome Arquivo: </label></b>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div id="col-md-6">
                <div id="form-group">
                    <b> <label>Nº Alvará:</label></b>

                    <input type="text" class="form-control" autoGrow />
                </div>
            </div>

            <div id="col-md-6">
                <div id="form-group">
                    <b> <label>Empresa: </label></b>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div id="col-md-6">
                <div id="form-group">
                    <b> <label>CNPJ: </label></b>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div id="col-md-6">
                <div id="form-group">
                    <b> <label>Emissão: </label></b>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div id="col-md-6">
                <div id="form-group">
                    <b> <label>Vencimento: </label></b>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div id="col-md-6">
                <div id="form-group">
                    <b> <label>Expira:</label></b>
                    <input type="text" class="form-control" disabled="true" />
                </div>
            </div>

        </div>

        <br />

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-sync-alt"></i>Atualizar
        </button>
        <button type="button" class="btn btn-danger ml-2">
            <i class="fa fa-solid fa-arrow-alt-circle-left"></i>Voltar
        </button>
    </form>
</div>